//
// Written by Synplify Premier 
// Product Version "O-2018.09-SP1"
// Program "Synplify Premier", Mapper "maprc, Build 4745R"
// Tue Jan 10 21:41:23 2023
//
// Source file index table:
// Object locations will have the form <file>:<line>
// file 0 "\/vol/synopsys/fpga/O-2018.09-SP1/lib/altera/altera.v "
// file 1 "\/vol/synopsys/fpga/O-2018.09-SP1/lib/altera/quartus_prime181/cycloneive.v "
// file 2 "\/vol/synopsys/fpga/O-2018.09-SP1/lib/altera/quartus_prime181/altera_mf.v "
// file 3 "\/vol/synopsys/fpga/O-2018.09-SP1/lib/altera/quartus_prime181/altera_lpm.v "
// file 4 "\/vol/synopsys/fpga/O-2018.09-SP1/lib/altera/quartus_prime181/altera_primitives.v "
// file 5 "\/vol/synopsys/fpga/O-2018.09-SP1/lib/vlog/hypermods.v "
// file 6 "\/vol/synopsys/fpga/O-2018.09-SP1/lib/vlog/umr_capim.v "
// file 7 "\/vol/synopsys/fpga/O-2018.09-SP1/lib/synip/hcei/zceistubs.v "
// file 8 "\/vol/synopsys/fpga/O-2018.09-SP1/lib/vlog/scemi_objects.v "
// file 9 "\/vol/synopsys/fpga/O-2018.09-SP1/lib/vlog/scemi_pipes.svh "
// file 10 "\/home/hbb0163/ce495/CE495/sv/fibonacci.sv "
// file 11 "\/vol/synopsys/fpga/O-2018.09-SP1/lib/nlconst.dat "

`timescale 100 ps/100 ps
// VQM4.1+ 
module fibonacci (
  clk,
  reset,
  din,
  start,
  dout,
  done
)
;
input clk ;
input reset ;
input [15:0] din ;
input start ;
output [15:0] dout ;
output done ;
wire clk ;
wire reset ;
wire start ;
wire done ;
wire [15:1] un1_dout_combout;
wire [15:0] un1_count_combout;
wire [15:0] n_1;
wire [15:0] count;
wire [15:0] n_2;
wire [16:16] dout_c10_a_4;
wire [1:0] state;
wire [0:0] un1_dout_i_m2;
wire [0:0] un1_count_a_cout;
wire [13:0] un1_count_cout;
wire [15:0] din_c;
wire [0:0] state_ns_i_a2_0_m2_x;
wire [0:0] state_ns_i_a2_0_a3_15;
wire [0:0] state_ns_i_a2_0_a3_15_8;
wire [0:0] state_ns_i_a2_0_a3_15_9;
wire [0:0] state_ns_i_a2_0_a3_15_10;
wire [0:0] state_ns_i_a2_0_a3_15_11;
wire [15:0] doutz;
wire un1_n_1_add0 ;
wire un1_n_1_add1 ;
wire un1_n_1_add2 ;
wire un1_n_1_add3 ;
wire un1_n_1_add4 ;
wire un1_n_1_add5 ;
wire un1_n_1_add6 ;
wire un1_n_1_add7 ;
wire un1_n_1_add8 ;
wire un1_n_1_add9 ;
wire un1_n_1_add10 ;
wire un1_n_1_add11 ;
wire un1_n_1_add12 ;
wire un1_n_1_add13 ;
wire un1_n_1_add14 ;
wire un1_n_1_add15 ;
wire VCC ;
wire GND ;
wire dout_c_0_0__g0 ;
wire count_c_0_0__g0 ;
wire dout_c10_a_4_add0 ;
wire dout_c10_a_4_add1 ;
wire dout_c10_a_4_add2 ;
wire dout_c10_a_4_add3 ;
wire dout_c10_a_4_add4 ;
wire dout_c10_a_4_add5 ;
wire dout_c10_a_4_add6 ;
wire dout_c10_a_4_add7 ;
wire dout_c10_a_4_add8 ;
wire dout_c10_a_4_add9 ;
wire dout_c10_a_4_add10 ;
wire dout_c10_a_4_add11 ;
wire dout_c10_a_4_add12 ;
wire dout_c10_a_4_add13 ;
wire dout_c10_a_4_add14 ;
wire dout_c10_a_4_add15 ;
wire N_65 ;
wire N_66 ;
wire N_67 ;
wire state_tr5_0_a3_0_g0 ;
wire N_145_i_0_g0 ;
wire dout_c10_a_4_carry_0 ;
wire dout_c10_a_4_carry_1 ;
wire dout_c10_a_4_carry_2 ;
wire dout_c10_a_4_carry_3 ;
wire dout_c10_a_4_carry_4 ;
wire dout_c10_a_4_carry_5 ;
wire dout_c10_a_4_carry_6 ;
wire dout_c10_a_4_carry_7 ;
wire dout_c10_a_4_carry_8 ;
wire dout_c10_a_4_carry_9 ;
wire dout_c10_a_4_carry_10 ;
wire dout_c10_a_4_carry_11 ;
wire dout_c10_a_4_carry_12 ;
wire dout_c10_a_4_carry_13 ;
wire dout_c10_a_4_carry_14 ;
wire un1_n_1_carry_0 ;
wire un1_n_1_carry_1 ;
wire un1_n_1_carry_2 ;
wire un1_n_1_carry_3 ;
wire un1_n_1_carry_4 ;
wire un1_n_1_carry_5 ;
wire un1_n_1_carry_6 ;
wire un1_n_1_carry_7 ;
wire un1_n_1_carry_8 ;
wire un1_n_1_carry_9 ;
wire un1_n_1_carry_10 ;
wire un1_n_1_carry_11 ;
wire un1_n_1_carry_12 ;
wire un1_n_1_carry_13 ;
wire un1_n_1_carry_14 ;
wire count_c_0_1__g1 ;
wire n_1_0_0__g2_0_321_i_a2 ;
wire clk_c ;
wire reset_c ;
wire start_c ;
wire dout_c10_NE_3 ;
wire dout_c10_NE_5 ;
wire dout_c10_NE_7 ;
wire dout_c10_NE_9 ;
wire dout_c10_NE_11 ;
wire dout_c10_NE ;
wire dout_c10_NE_a ;
wire retun1_state_0_o2_0 ;
wire un1_state_0_o2_0_rep1 ;
wire un1_state_0_o2_0_i ;
wire dout_c10_a_4_add15_cout ;
wire donez ;
tri1 tridevclrn;
tri1 tridevpor;
tri0 tridevoe;
//@0:1
  assign VCC = 1'b1;
//@0:1
  assign GND = 1'b0;
  dffeas n_1_0_ (
	.devpor(tridevpor),
	.devclrn(tridevclrn),
	.q(n_1[0]),
	.d(n_1_0_0__g2_0_321_i_a2),
	.clk(clk_c),
	.clrn(~reset_c),
	.prn(VCC),
	.ena(un1_state_0_o2_0_i),
	.asdata(GND),
	.aload(GND),
	.sclr(GND),
	.sload(GND)
);
defparam n_1_0_.is_wysiwyg="TRUE";
  dffeas n_1_1_ (
	.devpor(tridevpor),
	.devclrn(tridevclrn),
	.q(n_1[1]),
	.d(doutz[1]),
	.clk(clk_c),
	.clrn(~reset_c),
	.prn(VCC),
	.ena(un1_state_0_o2_0_i),
	.asdata(GND),
	.aload(GND),
	.sclr(~state[0]),
	.sload(GND)
);
defparam n_1_1_.is_wysiwyg="TRUE";
  dffeas n_1_2_ (
	.devpor(tridevpor),
	.devclrn(tridevclrn),
	.q(n_1[2]),
	.d(doutz[2]),
	.clk(clk_c),
	.clrn(~reset_c),
	.prn(VCC),
	.ena(un1_state_0_o2_0_i),
	.asdata(GND),
	.aload(GND),
	.sclr(~state[0]),
	.sload(GND)
);
defparam n_1_2_.is_wysiwyg="TRUE";
  dffeas n_1_3_ (
	.devpor(tridevpor),
	.devclrn(tridevclrn),
	.q(n_1[3]),
	.d(doutz[3]),
	.clk(clk_c),
	.clrn(~reset_c),
	.prn(VCC),
	.ena(un1_state_0_o2_0_i),
	.asdata(GND),
	.aload(GND),
	.sclr(~state[0]),
	.sload(GND)
);
defparam n_1_3_.is_wysiwyg="TRUE";
  dffeas n_1_4_ (
	.devpor(tridevpor),
	.devclrn(tridevclrn),
	.q(n_1[4]),
	.d(doutz[4]),
	.clk(clk_c),
	.clrn(~reset_c),
	.prn(VCC),
	.ena(un1_state_0_o2_0_i),
	.asdata(GND),
	.aload(GND),
	.sclr(~state[0]),
	.sload(GND)
);
defparam n_1_4_.is_wysiwyg="TRUE";
  dffeas n_1_5_ (
	.devpor(tridevpor),
	.devclrn(tridevclrn),
	.q(n_1[5]),
	.d(doutz[5]),
	.clk(clk_c),
	.clrn(~reset_c),
	.prn(VCC),
	.ena(un1_state_0_o2_0_i),
	.asdata(GND),
	.aload(GND),
	.sclr(~state[0]),
	.sload(GND)
);
defparam n_1_5_.is_wysiwyg="TRUE";
  dffeas n_1_6_ (
	.devpor(tridevpor),
	.devclrn(tridevclrn),
	.q(n_1[6]),
	.d(doutz[6]),
	.clk(clk_c),
	.clrn(~reset_c),
	.prn(VCC),
	.ena(un1_state_0_o2_0_i),
	.asdata(GND),
	.aload(GND),
	.sclr(~state[0]),
	.sload(GND)
);
defparam n_1_6_.is_wysiwyg="TRUE";
  dffeas n_1_7_ (
	.devpor(tridevpor),
	.devclrn(tridevclrn),
	.q(n_1[7]),
	.d(doutz[7]),
	.clk(clk_c),
	.clrn(~reset_c),
	.prn(VCC),
	.ena(un1_state_0_o2_0_i),
	.asdata(GND),
	.aload(GND),
	.sclr(~state[0]),
	.sload(GND)
);
defparam n_1_7_.is_wysiwyg="TRUE";
  dffeas n_1_8_ (
	.devpor(tridevpor),
	.devclrn(tridevclrn),
	.q(n_1[8]),
	.d(doutz[8]),
	.clk(clk_c),
	.clrn(~reset_c),
	.prn(VCC),
	.ena(un1_state_0_o2_0_i),
	.asdata(GND),
	.aload(GND),
	.sclr(~state[0]),
	.sload(GND)
);
defparam n_1_8_.is_wysiwyg="TRUE";
  dffeas n_1_9_ (
	.devpor(tridevpor),
	.devclrn(tridevclrn),
	.q(n_1[9]),
	.d(doutz[9]),
	.clk(clk_c),
	.clrn(~reset_c),
	.prn(VCC),
	.ena(un1_state_0_o2_0_i),
	.asdata(GND),
	.aload(GND),
	.sclr(~state[0]),
	.sload(GND)
);
defparam n_1_9_.is_wysiwyg="TRUE";
  dffeas n_1_10_ (
	.devpor(tridevpor),
	.devclrn(tridevclrn),
	.q(n_1[10]),
	.d(doutz[10]),
	.clk(clk_c),
	.clrn(~reset_c),
	.prn(VCC),
	.ena(un1_state_0_o2_0_i),
	.asdata(GND),
	.aload(GND),
	.sclr(~state[0]),
	.sload(GND)
);
defparam n_1_10_.is_wysiwyg="TRUE";
  dffeas n_1_11_ (
	.devpor(tridevpor),
	.devclrn(tridevclrn),
	.q(n_1[11]),
	.d(doutz[11]),
	.clk(clk_c),
	.clrn(~reset_c),
	.prn(VCC),
	.ena(un1_state_0_o2_0_i),
	.asdata(GND),
	.aload(GND),
	.sclr(~state[0]),
	.sload(GND)
);
defparam n_1_11_.is_wysiwyg="TRUE";
  dffeas n_1_12_ (
	.devpor(tridevpor),
	.devclrn(tridevclrn),
	.q(n_1[12]),
	.d(doutz[12]),
	.clk(clk_c),
	.clrn(~reset_c),
	.prn(VCC),
	.ena(un1_state_0_o2_0_i),
	.asdata(GND),
	.aload(GND),
	.sclr(~state[0]),
	.sload(GND)
);
defparam n_1_12_.is_wysiwyg="TRUE";
  dffeas n_1_13_ (
	.devpor(tridevpor),
	.devclrn(tridevclrn),
	.q(n_1[13]),
	.d(doutz[13]),
	.clk(clk_c),
	.clrn(~reset_c),
	.prn(VCC),
	.ena(un1_state_0_o2_0_i),
	.asdata(GND),
	.aload(GND),
	.sclr(~state[0]),
	.sload(GND)
);
defparam n_1_13_.is_wysiwyg="TRUE";
  dffeas n_1_14_ (
	.devpor(tridevpor),
	.devclrn(tridevclrn),
	.q(n_1[14]),
	.d(doutz[14]),
	.clk(clk_c),
	.clrn(~reset_c),
	.prn(VCC),
	.ena(un1_state_0_o2_0_i),
	.asdata(GND),
	.aload(GND),
	.sclr(~state[0]),
	.sload(GND)
);
defparam n_1_14_.is_wysiwyg="TRUE";
  dffeas n_1_15_ (
	.devpor(tridevpor),
	.devclrn(tridevclrn),
	.q(n_1[15]),
	.d(doutz[15]),
	.clk(clk_c),
	.clrn(~reset_c),
	.prn(VCC),
	.ena(un1_state_0_o2_0_i),
	.asdata(GND),
	.aload(GND),
	.sclr(~state[0]),
	.sload(GND)
);
defparam n_1_15_.is_wysiwyg="TRUE";
// @10:22
  dffeas state_1_ (
	.devpor(tridevpor),
	.devclrn(tridevclrn),
	.q(state[1]),
	.d(state_tr5_0_a3_0_g0),
	.clk(clk_c),
	.clrn(~reset_c),
	.prn(VCC),
	.ena(VCC),
	.asdata(GND),
	.aload(GND),
	.sclr(GND),
	.sload(GND)
);
defparam state_1_.is_wysiwyg="TRUE";
// @10:22
  dffeas state_0_ (
	.devpor(tridevpor),
	.devclrn(tridevclrn),
	.q(state[0]),
	.d(N_145_i_0_g0),
	.clk(clk_c),
	.clrn(~reset_c),
	.prn(VCC),
	.ena(VCC),
	.asdata(GND),
	.aload(GND),
	.sclr(GND),
	.sload(GND)
);
defparam state_0_.is_wysiwyg="TRUE";
// @10:22
  dffeas dout_15_ (
	.devpor(tridevpor),
	.devclrn(tridevclrn),
	.q(doutz[15]),
	.d(un1_n_1_add15),
	.clk(clk_c),
	.clrn(~reset_c),
	.prn(VCC),
	.ena(VCC),
	.asdata(GND),
	.aload(GND),
	.sclr(~state[0]),
	.sload(GND)
);
defparam dout_15_.is_wysiwyg="TRUE";
// @10:22
  dffeas dout_14_ (
	.devpor(tridevpor),
	.devclrn(tridevclrn),
	.q(doutz[14]),
	.d(un1_n_1_add14),
	.clk(clk_c),
	.clrn(~reset_c),
	.prn(VCC),
	.ena(VCC),
	.asdata(GND),
	.aload(GND),
	.sclr(~state[0]),
	.sload(GND)
);
defparam dout_14_.is_wysiwyg="TRUE";
// @10:22
  dffeas dout_13_ (
	.devpor(tridevpor),
	.devclrn(tridevclrn),
	.q(doutz[13]),
	.d(un1_n_1_add13),
	.clk(clk_c),
	.clrn(~reset_c),
	.prn(VCC),
	.ena(VCC),
	.asdata(GND),
	.aload(GND),
	.sclr(~state[0]),
	.sload(GND)
);
defparam dout_13_.is_wysiwyg="TRUE";
// @10:22
  dffeas dout_12_ (
	.devpor(tridevpor),
	.devclrn(tridevclrn),
	.q(doutz[12]),
	.d(un1_n_1_add12),
	.clk(clk_c),
	.clrn(~reset_c),
	.prn(VCC),
	.ena(VCC),
	.asdata(GND),
	.aload(GND),
	.sclr(~state[0]),
	.sload(GND)
);
defparam dout_12_.is_wysiwyg="TRUE";
// @10:22
  dffeas dout_11_ (
	.devpor(tridevpor),
	.devclrn(tridevclrn),
	.q(doutz[11]),
	.d(un1_n_1_add11),
	.clk(clk_c),
	.clrn(~reset_c),
	.prn(VCC),
	.ena(VCC),
	.asdata(GND),
	.aload(GND),
	.sclr(~state[0]),
	.sload(GND)
);
defparam dout_11_.is_wysiwyg="TRUE";
// @10:22
  dffeas dout_10_ (
	.devpor(tridevpor),
	.devclrn(tridevclrn),
	.q(doutz[10]),
	.d(un1_n_1_add10),
	.clk(clk_c),
	.clrn(~reset_c),
	.prn(VCC),
	.ena(VCC),
	.asdata(GND),
	.aload(GND),
	.sclr(~state[0]),
	.sload(GND)
);
defparam dout_10_.is_wysiwyg="TRUE";
// @10:22
  dffeas dout_9_ (
	.devpor(tridevpor),
	.devclrn(tridevclrn),
	.q(doutz[9]),
	.d(un1_n_1_add9),
	.clk(clk_c),
	.clrn(~reset_c),
	.prn(VCC),
	.ena(VCC),
	.asdata(GND),
	.aload(GND),
	.sclr(~state[0]),
	.sload(GND)
);
defparam dout_9_.is_wysiwyg="TRUE";
// @10:22
  dffeas dout_8_ (
	.devpor(tridevpor),
	.devclrn(tridevclrn),
	.q(doutz[8]),
	.d(un1_n_1_add8),
	.clk(clk_c),
	.clrn(~reset_c),
	.prn(VCC),
	.ena(VCC),
	.asdata(GND),
	.aload(GND),
	.sclr(~state[0]),
	.sload(GND)
);
defparam dout_8_.is_wysiwyg="TRUE";
// @10:22
  dffeas dout_7_ (
	.devpor(tridevpor),
	.devclrn(tridevclrn),
	.q(doutz[7]),
	.d(un1_n_1_add7),
	.clk(clk_c),
	.clrn(~reset_c),
	.prn(VCC),
	.ena(VCC),
	.asdata(GND),
	.aload(GND),
	.sclr(~state[0]),
	.sload(GND)
);
defparam dout_7_.is_wysiwyg="TRUE";
// @10:22
  dffeas dout_6_ (
	.devpor(tridevpor),
	.devclrn(tridevclrn),
	.q(doutz[6]),
	.d(un1_n_1_add6),
	.clk(clk_c),
	.clrn(~reset_c),
	.prn(VCC),
	.ena(VCC),
	.asdata(GND),
	.aload(GND),
	.sclr(~state[0]),
	.sload(GND)
);
defparam dout_6_.is_wysiwyg="TRUE";
// @10:22
  dffeas dout_5_ (
	.devpor(tridevpor),
	.devclrn(tridevclrn),
	.q(doutz[5]),
	.d(un1_n_1_add5),
	.clk(clk_c),
	.clrn(~reset_c),
	.prn(VCC),
	.ena(VCC),
	.asdata(GND),
	.aload(GND),
	.sclr(~state[0]),
	.sload(GND)
);
defparam dout_5_.is_wysiwyg="TRUE";
// @10:22
  dffeas dout_4_ (
	.devpor(tridevpor),
	.devclrn(tridevclrn),
	.q(doutz[4]),
	.d(un1_n_1_add4),
	.clk(clk_c),
	.clrn(~reset_c),
	.prn(VCC),
	.ena(VCC),
	.asdata(GND),
	.aload(GND),
	.sclr(~state[0]),
	.sload(GND)
);
defparam dout_4_.is_wysiwyg="TRUE";
// @10:22
  dffeas dout_3_ (
	.devpor(tridevpor),
	.devclrn(tridevclrn),
	.q(doutz[3]),
	.d(un1_n_1_add3),
	.clk(clk_c),
	.clrn(~reset_c),
	.prn(VCC),
	.ena(VCC),
	.asdata(GND),
	.aload(GND),
	.sclr(~state[0]),
	.sload(GND)
);
defparam dout_3_.is_wysiwyg="TRUE";
// @10:22
  dffeas dout_2_ (
	.devpor(tridevpor),
	.devclrn(tridevclrn),
	.q(doutz[2]),
	.d(un1_n_1_add2),
	.clk(clk_c),
	.clrn(~reset_c),
	.prn(VCC),
	.ena(VCC),
	.asdata(GND),
	.aload(GND),
	.sclr(~state[0]),
	.sload(GND)
);
defparam dout_2_.is_wysiwyg="TRUE";
// @10:22
  dffeas dout_1_ (
	.devpor(tridevpor),
	.devclrn(tridevclrn),
	.q(doutz[1]),
	.d(un1_n_1_add1),
	.clk(clk_c),
	.clrn(~reset_c),
	.prn(VCC),
	.ena(VCC),
	.asdata(GND),
	.aload(GND),
	.sclr(~state[0]),
	.sload(GND)
);
defparam dout_1_.is_wysiwyg="TRUE";
// @10:22
  dffeas dout_0_ (
	.devpor(tridevpor),
	.devclrn(tridevclrn),
	.q(doutz[0]),
	.d(dout_c_0_0__g0),
	.clk(clk_c),
	.clrn(~reset_c),
	.prn(VCC),
	.ena(VCC),
	.asdata(GND),
	.aload(GND),
	.sclr(GND),
	.sload(GND)
);
defparam dout_0_.is_wysiwyg="TRUE";
// @10:22
  dffeas count_15_ (
	.devpor(tridevpor),
	.devclrn(tridevclrn),
	.q(count[15]),
	.d(un1_count_combout[15]),
	.clk(clk_c),
	.clrn(~reset_c),
	.prn(VCC),
	.ena(VCC),
	.asdata(GND),
	.aload(GND),
	.sclr(~count_c_0_1__g1),
	.sload(GND)
);
defparam count_15_.is_wysiwyg="TRUE";
// @10:22
  dffeas count_14_ (
	.devpor(tridevpor),
	.devclrn(tridevclrn),
	.q(count[14]),
	.d(un1_count_combout[14]),
	.clk(clk_c),
	.clrn(~reset_c),
	.prn(VCC),
	.ena(VCC),
	.asdata(GND),
	.aload(GND),
	.sclr(~count_c_0_1__g1),
	.sload(GND)
);
defparam count_14_.is_wysiwyg="TRUE";
// @10:22
  dffeas count_13_ (
	.devpor(tridevpor),
	.devclrn(tridevclrn),
	.q(count[13]),
	.d(un1_count_combout[13]),
	.clk(clk_c),
	.clrn(~reset_c),
	.prn(VCC),
	.ena(VCC),
	.asdata(GND),
	.aload(GND),
	.sclr(~count_c_0_1__g1),
	.sload(GND)
);
defparam count_13_.is_wysiwyg="TRUE";
// @10:22
  dffeas count_12_ (
	.devpor(tridevpor),
	.devclrn(tridevclrn),
	.q(count[12]),
	.d(un1_count_combout[12]),
	.clk(clk_c),
	.clrn(~reset_c),
	.prn(VCC),
	.ena(VCC),
	.asdata(GND),
	.aload(GND),
	.sclr(~count_c_0_1__g1),
	.sload(GND)
);
defparam count_12_.is_wysiwyg="TRUE";
// @10:22
  dffeas count_11_ (
	.devpor(tridevpor),
	.devclrn(tridevclrn),
	.q(count[11]),
	.d(un1_count_combout[11]),
	.clk(clk_c),
	.clrn(~reset_c),
	.prn(VCC),
	.ena(VCC),
	.asdata(GND),
	.aload(GND),
	.sclr(~count_c_0_1__g1),
	.sload(GND)
);
defparam count_11_.is_wysiwyg="TRUE";
// @10:22
  dffeas count_10_ (
	.devpor(tridevpor),
	.devclrn(tridevclrn),
	.q(count[10]),
	.d(un1_count_combout[10]),
	.clk(clk_c),
	.clrn(~reset_c),
	.prn(VCC),
	.ena(VCC),
	.asdata(GND),
	.aload(GND),
	.sclr(~count_c_0_1__g1),
	.sload(GND)
);
defparam count_10_.is_wysiwyg="TRUE";
// @10:22
  dffeas count_9_ (
	.devpor(tridevpor),
	.devclrn(tridevclrn),
	.q(count[9]),
	.d(un1_count_combout[9]),
	.clk(clk_c),
	.clrn(~reset_c),
	.prn(VCC),
	.ena(VCC),
	.asdata(GND),
	.aload(GND),
	.sclr(~count_c_0_1__g1),
	.sload(GND)
);
defparam count_9_.is_wysiwyg="TRUE";
// @10:22
  dffeas count_8_ (
	.devpor(tridevpor),
	.devclrn(tridevclrn),
	.q(count[8]),
	.d(un1_count_combout[8]),
	.clk(clk_c),
	.clrn(~reset_c),
	.prn(VCC),
	.ena(VCC),
	.asdata(GND),
	.aload(GND),
	.sclr(~count_c_0_1__g1),
	.sload(GND)
);
defparam count_8_.is_wysiwyg="TRUE";
// @10:22
  dffeas count_7_ (
	.devpor(tridevpor),
	.devclrn(tridevclrn),
	.q(count[7]),
	.d(un1_count_combout[7]),
	.clk(clk_c),
	.clrn(~reset_c),
	.prn(VCC),
	.ena(VCC),
	.asdata(GND),
	.aload(GND),
	.sclr(~count_c_0_1__g1),
	.sload(GND)
);
defparam count_7_.is_wysiwyg="TRUE";
// @10:22
  dffeas count_6_ (
	.devpor(tridevpor),
	.devclrn(tridevclrn),
	.q(count[6]),
	.d(un1_count_combout[6]),
	.clk(clk_c),
	.clrn(~reset_c),
	.prn(VCC),
	.ena(VCC),
	.asdata(GND),
	.aload(GND),
	.sclr(~count_c_0_1__g1),
	.sload(GND)
);
defparam count_6_.is_wysiwyg="TRUE";
// @10:22
  dffeas count_5_ (
	.devpor(tridevpor),
	.devclrn(tridevclrn),
	.q(count[5]),
	.d(un1_count_combout[5]),
	.clk(clk_c),
	.clrn(~reset_c),
	.prn(VCC),
	.ena(VCC),
	.asdata(GND),
	.aload(GND),
	.sclr(~count_c_0_1__g1),
	.sload(GND)
);
defparam count_5_.is_wysiwyg="TRUE";
// @10:22
  dffeas count_4_ (
	.devpor(tridevpor),
	.devclrn(tridevclrn),
	.q(count[4]),
	.d(un1_count_combout[4]),
	.clk(clk_c),
	.clrn(~reset_c),
	.prn(VCC),
	.ena(VCC),
	.asdata(GND),
	.aload(GND),
	.sclr(~count_c_0_1__g1),
	.sload(GND)
);
defparam count_4_.is_wysiwyg="TRUE";
// @10:22
  dffeas count_3_ (
	.devpor(tridevpor),
	.devclrn(tridevclrn),
	.q(count[3]),
	.d(un1_count_combout[3]),
	.clk(clk_c),
	.clrn(~reset_c),
	.prn(VCC),
	.ena(VCC),
	.asdata(GND),
	.aload(GND),
	.sclr(~count_c_0_1__g1),
	.sload(GND)
);
defparam count_3_.is_wysiwyg="TRUE";
// @10:22
  dffeas count_2_ (
	.devpor(tridevpor),
	.devclrn(tridevclrn),
	.q(count[2]),
	.d(un1_count_combout[2]),
	.clk(clk_c),
	.clrn(~reset_c),
	.prn(VCC),
	.ena(VCC),
	.asdata(GND),
	.aload(GND),
	.sclr(~count_c_0_1__g1),
	.sload(GND)
);
defparam count_2_.is_wysiwyg="TRUE";
// @10:22
  dffeas count_1_ (
	.devpor(tridevpor),
	.devclrn(tridevclrn),
	.q(count[1]),
	.d(un1_count_combout[1]),
	.clk(clk_c),
	.clrn(~reset_c),
	.prn(VCC),
	.ena(VCC),
	.asdata(GND),
	.aload(GND),
	.sclr(~count_c_0_1__g1),
	.sload(GND)
);
defparam count_1_.is_wysiwyg="TRUE";
// @10:22
  dffeas count_0_ (
	.devpor(tridevpor),
	.devclrn(tridevclrn),
	.q(count[0]),
	.d(count_c_0_0__g0),
	.clk(clk_c),
	.clrn(~reset_c),
	.prn(VCC),
	.ena(VCC),
	.asdata(GND),
	.aload(GND),
	.sclr(GND),
	.sload(GND)
);
defparam count_0_.is_wysiwyg="TRUE";
// @10:22
  dffeas n_2_15_ (
	.devpor(tridevpor),
	.devclrn(tridevclrn),
	.q(n_2[15]),
	.d(n_1[15]),
	.clk(clk_c),
	.clrn(~reset_c),
	.prn(VCC),
	.ena(~un1_state_0_o2_0_rep1),
	.asdata(GND),
	.aload(GND),
	.sclr(~state[0]),
	.sload(GND)
);
defparam n_2_15_.is_wysiwyg="TRUE";
// @10:22
  dffeas n_2_14_ (
	.devpor(tridevpor),
	.devclrn(tridevclrn),
	.q(n_2[14]),
	.d(n_1[14]),
	.clk(clk_c),
	.clrn(~reset_c),
	.prn(VCC),
	.ena(~un1_state_0_o2_0_rep1),
	.asdata(GND),
	.aload(GND),
	.sclr(~state[0]),
	.sload(GND)
);
defparam n_2_14_.is_wysiwyg="TRUE";
// @10:22
  dffeas n_2_13_ (
	.devpor(tridevpor),
	.devclrn(tridevclrn),
	.q(n_2[13]),
	.d(n_1[13]),
	.clk(clk_c),
	.clrn(~reset_c),
	.prn(VCC),
	.ena(~un1_state_0_o2_0_rep1),
	.asdata(GND),
	.aload(GND),
	.sclr(~state[0]),
	.sload(GND)
);
defparam n_2_13_.is_wysiwyg="TRUE";
// @10:22
  dffeas n_2_12_ (
	.devpor(tridevpor),
	.devclrn(tridevclrn),
	.q(n_2[12]),
	.d(n_1[12]),
	.clk(clk_c),
	.clrn(~reset_c),
	.prn(VCC),
	.ena(~un1_state_0_o2_0_rep1),
	.asdata(GND),
	.aload(GND),
	.sclr(~state[0]),
	.sload(GND)
);
defparam n_2_12_.is_wysiwyg="TRUE";
// @10:22
  dffeas n_2_11_ (
	.devpor(tridevpor),
	.devclrn(tridevclrn),
	.q(n_2[11]),
	.d(n_1[11]),
	.clk(clk_c),
	.clrn(~reset_c),
	.prn(VCC),
	.ena(~un1_state_0_o2_0_rep1),
	.asdata(GND),
	.aload(GND),
	.sclr(~state[0]),
	.sload(GND)
);
defparam n_2_11_.is_wysiwyg="TRUE";
// @10:22
  dffeas n_2_10_ (
	.devpor(tridevpor),
	.devclrn(tridevclrn),
	.q(n_2[10]),
	.d(n_1[10]),
	.clk(clk_c),
	.clrn(~reset_c),
	.prn(VCC),
	.ena(~un1_state_0_o2_0_rep1),
	.asdata(GND),
	.aload(GND),
	.sclr(~state[0]),
	.sload(GND)
);
defparam n_2_10_.is_wysiwyg="TRUE";
// @10:22
  dffeas n_2_9_ (
	.devpor(tridevpor),
	.devclrn(tridevclrn),
	.q(n_2[9]),
	.d(n_1[9]),
	.clk(clk_c),
	.clrn(~reset_c),
	.prn(VCC),
	.ena(~un1_state_0_o2_0_rep1),
	.asdata(GND),
	.aload(GND),
	.sclr(~state[0]),
	.sload(GND)
);
defparam n_2_9_.is_wysiwyg="TRUE";
// @10:22
  dffeas n_2_8_ (
	.devpor(tridevpor),
	.devclrn(tridevclrn),
	.q(n_2[8]),
	.d(n_1[8]),
	.clk(clk_c),
	.clrn(~reset_c),
	.prn(VCC),
	.ena(~un1_state_0_o2_0_rep1),
	.asdata(GND),
	.aload(GND),
	.sclr(~state[0]),
	.sload(GND)
);
defparam n_2_8_.is_wysiwyg="TRUE";
// @10:22
  dffeas n_2_7_ (
	.devpor(tridevpor),
	.devclrn(tridevclrn),
	.q(n_2[7]),
	.d(n_1[7]),
	.clk(clk_c),
	.clrn(~reset_c),
	.prn(VCC),
	.ena(~un1_state_0_o2_0_rep1),
	.asdata(GND),
	.aload(GND),
	.sclr(~state[0]),
	.sload(GND)
);
defparam n_2_7_.is_wysiwyg="TRUE";
// @10:22
  dffeas n_2_6_ (
	.devpor(tridevpor),
	.devclrn(tridevclrn),
	.q(n_2[6]),
	.d(n_1[6]),
	.clk(clk_c),
	.clrn(~reset_c),
	.prn(VCC),
	.ena(~un1_state_0_o2_0_rep1),
	.asdata(GND),
	.aload(GND),
	.sclr(~state[0]),
	.sload(GND)
);
defparam n_2_6_.is_wysiwyg="TRUE";
// @10:22
  dffeas n_2_5_ (
	.devpor(tridevpor),
	.devclrn(tridevclrn),
	.q(n_2[5]),
	.d(n_1[5]),
	.clk(clk_c),
	.clrn(~reset_c),
	.prn(VCC),
	.ena(~un1_state_0_o2_0_rep1),
	.asdata(GND),
	.aload(GND),
	.sclr(~state[0]),
	.sload(GND)
);
defparam n_2_5_.is_wysiwyg="TRUE";
// @10:22
  dffeas n_2_4_ (
	.devpor(tridevpor),
	.devclrn(tridevclrn),
	.q(n_2[4]),
	.d(n_1[4]),
	.clk(clk_c),
	.clrn(~reset_c),
	.prn(VCC),
	.ena(~un1_state_0_o2_0_rep1),
	.asdata(GND),
	.aload(GND),
	.sclr(~state[0]),
	.sload(GND)
);
defparam n_2_4_.is_wysiwyg="TRUE";
// @10:22
  dffeas n_2_3_ (
	.devpor(tridevpor),
	.devclrn(tridevclrn),
	.q(n_2[3]),
	.d(n_1[3]),
	.clk(clk_c),
	.clrn(~reset_c),
	.prn(VCC),
	.ena(~un1_state_0_o2_0_rep1),
	.asdata(GND),
	.aload(GND),
	.sclr(~state[0]),
	.sload(GND)
);
defparam n_2_3_.is_wysiwyg="TRUE";
// @10:22
  dffeas n_2_2_ (
	.devpor(tridevpor),
	.devclrn(tridevclrn),
	.q(n_2[2]),
	.d(n_1[2]),
	.clk(clk_c),
	.clrn(~reset_c),
	.prn(VCC),
	.ena(~un1_state_0_o2_0_rep1),
	.asdata(GND),
	.aload(GND),
	.sclr(~state[0]),
	.sload(GND)
);
defparam n_2_2_.is_wysiwyg="TRUE";
// @10:22
  dffeas n_2_1_ (
	.devpor(tridevpor),
	.devclrn(tridevclrn),
	.q(n_2[1]),
	.d(n_1[1]),
	.clk(clk_c),
	.clrn(~reset_c),
	.prn(VCC),
	.ena(~un1_state_0_o2_0_rep1),
	.asdata(GND),
	.aload(GND),
	.sclr(~state[0]),
	.sload(GND)
);
defparam n_2_1_.is_wysiwyg="TRUE";
// @10:22
  dffeas n_2_0_ (
	.devpor(tridevpor),
	.devclrn(tridevclrn),
	.q(n_2[0]),
	.d(n_1[0]),
	.clk(clk_c),
	.clrn(~reset_c),
	.prn(VCC),
	.ena(un1_state_0_o2_0_i),
	.asdata(GND),
	.aload(GND),
	.sclr(~state[0]),
	.sload(GND)
);
defparam n_2_0_.is_wysiwyg="TRUE";
// @10:22
  dffeas done_Z (
	.devpor(tridevpor),
	.devclrn(tridevclrn),
	.q(donez),
	.d(retun1_state_0_o2_0),
	.clk(clk_c),
	.clrn(~reset_c),
	.prn(VCC),
	.ena(VCC),
	.asdata(GND),
	.aload(GND),
	.sclr(GND),
	.sload(GND)
);
defparam done_Z.is_wysiwyg="TRUE";
// @10:78
  cycloneive_lcell_comb dout_c10_a_4_add0_cZ (
	.combout(dout_c10_a_4_add0),
	.cout(dout_c10_a_4_carry_0),
	.dataa(din_c[0]),
	.datab(count[0]),
	.datac(VCC),
	.datad(VCC),
	.cin(GND)
);
defparam dout_c10_a_4_add0_cZ.lut_mask=16'h9922;
defparam dout_c10_a_4_add0_cZ.sum_lutc_input="cin";
// @10:78
  cycloneive_lcell_comb dout_c10_a_4_add1_cZ (
	.combout(dout_c10_a_4_add1),
	.cout(dout_c10_a_4_carry_1),
	.dataa(din_c[1]),
	.datab(count[1]),
	.datac(VCC),
	.datad(VCC),
	.cin(dout_c10_a_4_carry_0)
);
defparam dout_c10_a_4_add1_cZ.lut_mask=16'h69b2;
defparam dout_c10_a_4_add1_cZ.sum_lutc_input="cin";
// @10:78
  cycloneive_lcell_comb dout_c10_a_4_add2_cZ (
	.combout(dout_c10_a_4_add2),
	.cout(dout_c10_a_4_carry_2),
	.dataa(din_c[2]),
	.datab(count[2]),
	.datac(VCC),
	.datad(VCC),
	.cin(dout_c10_a_4_carry_1)
);
defparam dout_c10_a_4_add2_cZ.lut_mask=16'h69b2;
defparam dout_c10_a_4_add2_cZ.sum_lutc_input="cin";
// @10:78
  cycloneive_lcell_comb dout_c10_a_4_add3_cZ (
	.combout(dout_c10_a_4_add3),
	.cout(dout_c10_a_4_carry_3),
	.dataa(din_c[3]),
	.datab(count[3]),
	.datac(VCC),
	.datad(VCC),
	.cin(dout_c10_a_4_carry_2)
);
defparam dout_c10_a_4_add3_cZ.lut_mask=16'h69b2;
defparam dout_c10_a_4_add3_cZ.sum_lutc_input="cin";
// @10:78
  cycloneive_lcell_comb dout_c10_a_4_add4_cZ (
	.combout(dout_c10_a_4_add4),
	.cout(dout_c10_a_4_carry_4),
	.dataa(din_c[4]),
	.datab(count[4]),
	.datac(VCC),
	.datad(VCC),
	.cin(dout_c10_a_4_carry_3)
);
defparam dout_c10_a_4_add4_cZ.lut_mask=16'h69b2;
defparam dout_c10_a_4_add4_cZ.sum_lutc_input="cin";
// @10:78
  cycloneive_lcell_comb dout_c10_a_4_add5_cZ (
	.combout(dout_c10_a_4_add5),
	.cout(dout_c10_a_4_carry_5),
	.dataa(din_c[5]),
	.datab(count[5]),
	.datac(VCC),
	.datad(VCC),
	.cin(dout_c10_a_4_carry_4)
);
defparam dout_c10_a_4_add5_cZ.lut_mask=16'h69b2;
defparam dout_c10_a_4_add5_cZ.sum_lutc_input="cin";
// @10:78
  cycloneive_lcell_comb dout_c10_a_4_add6_cZ (
	.combout(dout_c10_a_4_add6),
	.cout(dout_c10_a_4_carry_6),
	.dataa(din_c[6]),
	.datab(count[6]),
	.datac(VCC),
	.datad(VCC),
	.cin(dout_c10_a_4_carry_5)
);
defparam dout_c10_a_4_add6_cZ.lut_mask=16'h69b2;
defparam dout_c10_a_4_add6_cZ.sum_lutc_input="cin";
// @10:78
  cycloneive_lcell_comb dout_c10_a_4_add7_cZ (
	.combout(dout_c10_a_4_add7),
	.cout(dout_c10_a_4_carry_7),
	.dataa(din_c[7]),
	.datab(count[7]),
	.datac(VCC),
	.datad(VCC),
	.cin(dout_c10_a_4_carry_6)
);
defparam dout_c10_a_4_add7_cZ.lut_mask=16'h69b2;
defparam dout_c10_a_4_add7_cZ.sum_lutc_input="cin";
// @10:78
  cycloneive_lcell_comb dout_c10_a_4_add8_cZ (
	.combout(dout_c10_a_4_add8),
	.cout(dout_c10_a_4_carry_8),
	.dataa(din_c[8]),
	.datab(count[8]),
	.datac(VCC),
	.datad(VCC),
	.cin(dout_c10_a_4_carry_7)
);
defparam dout_c10_a_4_add8_cZ.lut_mask=16'h69b2;
defparam dout_c10_a_4_add8_cZ.sum_lutc_input="cin";
// @10:78
  cycloneive_lcell_comb dout_c10_a_4_add9_cZ (
	.combout(dout_c10_a_4_add9),
	.cout(dout_c10_a_4_carry_9),
	.dataa(din_c[9]),
	.datab(count[9]),
	.datac(VCC),
	.datad(VCC),
	.cin(dout_c10_a_4_carry_8)
);
defparam dout_c10_a_4_add9_cZ.lut_mask=16'h69b2;
defparam dout_c10_a_4_add9_cZ.sum_lutc_input="cin";
// @10:78
  cycloneive_lcell_comb dout_c10_a_4_add10_cZ (
	.combout(dout_c10_a_4_add10),
	.cout(dout_c10_a_4_carry_10),
	.dataa(din_c[10]),
	.datab(count[10]),
	.datac(VCC),
	.datad(VCC),
	.cin(dout_c10_a_4_carry_9)
);
defparam dout_c10_a_4_add10_cZ.lut_mask=16'h69b2;
defparam dout_c10_a_4_add10_cZ.sum_lutc_input="cin";
// @10:78
  cycloneive_lcell_comb dout_c10_a_4_add11_cZ (
	.combout(dout_c10_a_4_add11),
	.cout(dout_c10_a_4_carry_11),
	.dataa(din_c[11]),
	.datab(count[11]),
	.datac(VCC),
	.datad(VCC),
	.cin(dout_c10_a_4_carry_10)
);
defparam dout_c10_a_4_add11_cZ.lut_mask=16'h69b2;
defparam dout_c10_a_4_add11_cZ.sum_lutc_input="cin";
// @10:78
  cycloneive_lcell_comb dout_c10_a_4_add12_cZ (
	.combout(dout_c10_a_4_add12),
	.cout(dout_c10_a_4_carry_12),
	.dataa(din_c[12]),
	.datab(count[12]),
	.datac(VCC),
	.datad(VCC),
	.cin(dout_c10_a_4_carry_11)
);
defparam dout_c10_a_4_add12_cZ.lut_mask=16'h69b2;
defparam dout_c10_a_4_add12_cZ.sum_lutc_input="cin";
// @10:78
  cycloneive_lcell_comb dout_c10_a_4_add13_cZ (
	.combout(dout_c10_a_4_add13),
	.cout(dout_c10_a_4_carry_13),
	.dataa(din_c[13]),
	.datab(count[13]),
	.datac(VCC),
	.datad(VCC),
	.cin(dout_c10_a_4_carry_12)
);
defparam dout_c10_a_4_add13_cZ.lut_mask=16'h69b2;
defparam dout_c10_a_4_add13_cZ.sum_lutc_input="cin";
// @10:78
  cycloneive_lcell_comb dout_c10_a_4_add14_cZ (
	.combout(dout_c10_a_4_add14),
	.cout(dout_c10_a_4_carry_14),
	.dataa(din_c[14]),
	.datab(count[14]),
	.datac(VCC),
	.datad(VCC),
	.cin(dout_c10_a_4_carry_13)
);
defparam dout_c10_a_4_add14_cZ.lut_mask=16'h69b2;
defparam dout_c10_a_4_add14_cZ.sum_lutc_input="cin";
// @10:78
  cycloneive_lcell_comb dout_c10_a_4_add15_cZ (
	.combout(dout_c10_a_4_add15),
	.cout(dout_c10_a_4_add15_cout),
	.dataa(din_c[15]),
	.datab(count[15]),
	.datac(VCC),
	.datad(VCC),
	.cin(dout_c10_a_4_carry_14)
);
defparam dout_c10_a_4_add15_cZ.lut_mask=16'h69b2;
defparam dout_c10_a_4_add15_cZ.sum_lutc_input="cin";
// @10:88
  cycloneive_lcell_comb un1_count_0_ (
	.combout(un1_count_combout[0]),
	.cout(un1_count_cout[0]),
	.dataa(count[0]),
	.datab(un1_state_0_o2_0_rep1),
	.datac(VCC),
	.datad(VCC),
	.cin(GND)
);
defparam un1_count_0_.lut_mask=16'h9922;
defparam un1_count_0_.sum_lutc_input="cin";
// @10:88
  cycloneive_lcell_comb un1_count_a_0_ (
	.combout(),
	.cout(un1_count_a_cout[0]),
	.dataa(count[0]),
	.datab(un1_state_0_o2_0_rep1),
	.datac(VCC),
	.datad(VCC),
	.cin(GND)
);
defparam un1_count_a_0_.lut_mask=16'h0022;
defparam un1_count_a_0_.sum_lutc_input="cin";
// @10:88
  cycloneive_lcell_comb un1_count_1_ (
	.combout(un1_count_combout[1]),
	.cout(un1_count_cout[1]),
	.dataa(count[1]),
	.datab(count[2]),
	.datac(VCC),
	.datad(VCC),
	.cin(un1_count_a_cout[0])
);
defparam un1_count_1_.lut_mask=16'h5a80;
defparam un1_count_1_.sum_lutc_input="cin";
// @10:88
  cycloneive_lcell_comb un1_count_2_ (
	.combout(un1_count_combout[2]),
	.cout(un1_count_cout[2]),
	.dataa(count[1]),
	.datab(count[2]),
	.datac(VCC),
	.datad(VCC),
	.cin(un1_count_cout[0])
);
defparam un1_count_2_.lut_mask=16'h6c80;
defparam un1_count_2_.sum_lutc_input="cin";
// @10:88
  cycloneive_lcell_comb un1_count_3_ (
	.combout(un1_count_combout[3]),
	.cout(un1_count_cout[3]),
	.dataa(count[3]),
	.datab(count[4]),
	.datac(VCC),
	.datad(VCC),
	.cin(un1_count_cout[1])
);
defparam un1_count_3_.lut_mask=16'h5a80;
defparam un1_count_3_.sum_lutc_input="cin";
// @10:88
  cycloneive_lcell_comb un1_count_4_ (
	.combout(un1_count_combout[4]),
	.cout(un1_count_cout[4]),
	.dataa(count[3]),
	.datab(count[4]),
	.datac(VCC),
	.datad(VCC),
	.cin(un1_count_cout[2])
);
defparam un1_count_4_.lut_mask=16'h6c80;
defparam un1_count_4_.sum_lutc_input="cin";
// @10:88
  cycloneive_lcell_comb un1_count_5_ (
	.combout(un1_count_combout[5]),
	.cout(un1_count_cout[5]),
	.dataa(count[5]),
	.datab(count[6]),
	.datac(VCC),
	.datad(VCC),
	.cin(un1_count_cout[3])
);
defparam un1_count_5_.lut_mask=16'h5a80;
defparam un1_count_5_.sum_lutc_input="cin";
// @10:88
  cycloneive_lcell_comb un1_count_6_ (
	.combout(un1_count_combout[6]),
	.cout(un1_count_cout[6]),
	.dataa(count[5]),
	.datab(count[6]),
	.datac(VCC),
	.datad(VCC),
	.cin(un1_count_cout[4])
);
defparam un1_count_6_.lut_mask=16'h6c80;
defparam un1_count_6_.sum_lutc_input="cin";
// @10:88
  cycloneive_lcell_comb un1_count_7_ (
	.combout(un1_count_combout[7]),
	.cout(un1_count_cout[7]),
	.dataa(count[7]),
	.datab(count[8]),
	.datac(VCC),
	.datad(VCC),
	.cin(un1_count_cout[5])
);
defparam un1_count_7_.lut_mask=16'h5a80;
defparam un1_count_7_.sum_lutc_input="cin";
// @10:88
  cycloneive_lcell_comb un1_count_8_ (
	.combout(un1_count_combout[8]),
	.cout(un1_count_cout[8]),
	.dataa(count[7]),
	.datab(count[8]),
	.datac(VCC),
	.datad(VCC),
	.cin(un1_count_cout[6])
);
defparam un1_count_8_.lut_mask=16'h6c80;
defparam un1_count_8_.sum_lutc_input="cin";
// @10:88
  cycloneive_lcell_comb un1_count_9_ (
	.combout(un1_count_combout[9]),
	.cout(un1_count_cout[9]),
	.dataa(count[9]),
	.datab(count[10]),
	.datac(VCC),
	.datad(VCC),
	.cin(un1_count_cout[7])
);
defparam un1_count_9_.lut_mask=16'h5a80;
defparam un1_count_9_.sum_lutc_input="cin";
// @10:88
  cycloneive_lcell_comb un1_count_10_ (
	.combout(un1_count_combout[10]),
	.cout(un1_count_cout[10]),
	.dataa(count[9]),
	.datab(count[10]),
	.datac(VCC),
	.datad(VCC),
	.cin(un1_count_cout[8])
);
defparam un1_count_10_.lut_mask=16'h6c80;
defparam un1_count_10_.sum_lutc_input="cin";
// @10:88
  cycloneive_lcell_comb un1_count_11_ (
	.combout(un1_count_combout[11]),
	.cout(un1_count_cout[11]),
	.dataa(count[11]),
	.datab(count[12]),
	.datac(VCC),
	.datad(VCC),
	.cin(un1_count_cout[9])
);
defparam un1_count_11_.lut_mask=16'h5a80;
defparam un1_count_11_.sum_lutc_input="cin";
// @10:88
  cycloneive_lcell_comb un1_count_12_ (
	.combout(un1_count_combout[12]),
	.cout(un1_count_cout[12]),
	.dataa(count[11]),
	.datab(count[12]),
	.datac(VCC),
	.datad(VCC),
	.cin(un1_count_cout[10])
);
defparam un1_count_12_.lut_mask=16'h6c80;
defparam un1_count_12_.sum_lutc_input="cin";
// @10:88
  cycloneive_lcell_comb un1_count_13_ (
	.combout(un1_count_combout[13]),
	.cout(un1_count_cout[13]),
	.dataa(count[13]),
	.datab(count[14]),
	.datac(VCC),
	.datad(VCC),
	.cin(un1_count_cout[11])
);
defparam un1_count_13_.lut_mask=16'h5a80;
defparam un1_count_13_.sum_lutc_input="cin";
// @10:88
  cycloneive_lcell_comb un1_count_14_ (
	.combout(un1_count_combout[14]),
	.cout(),
	.dataa(count[13]),
	.datab(count[14]),
	.datac(VCC),
	.datad(VCC),
	.cin(un1_count_cout[12])
);
defparam un1_count_14_.lut_mask=16'h6c6c;
defparam un1_count_14_.sum_lutc_input="cin";
// @10:88
  cycloneive_lcell_comb un1_count_15_ (
	.combout(un1_count_combout[15]),
	.cout(),
	.dataa(count[15]),
	.datab(GND),
	.datac(VCC),
	.datad(VCC),
	.cin(un1_count_cout[13])
);
defparam un1_count_15_.lut_mask=16'h5a5a;
defparam un1_count_15_.sum_lutc_input="cin";
// @10:53
  cycloneive_lcell_comb un1_n_1_add0_cZ (
	.combout(un1_n_1_add0),
	.cout(un1_n_1_carry_0),
	.dataa(n_1[0]),
	.datab(un1_dout_i_m2[0]),
	.datac(VCC),
	.datad(VCC),
	.cin(GND)
);
defparam un1_n_1_add0_cZ.lut_mask=16'h6688;
defparam un1_n_1_add0_cZ.sum_lutc_input="cin";
// @10:53
  cycloneive_lcell_comb un1_n_1_add1_cZ (
	.combout(un1_n_1_add1),
	.cout(un1_n_1_carry_1),
	.dataa(n_1[1]),
	.datab(un1_dout_combout[1]),
	.datac(VCC),
	.datad(VCC),
	.cin(un1_n_1_carry_0)
);
defparam un1_n_1_add1_cZ.lut_mask=16'h96e8;
defparam un1_n_1_add1_cZ.sum_lutc_input="cin";
// @10:53
  cycloneive_lcell_comb un1_n_1_add2_cZ (
	.combout(un1_n_1_add2),
	.cout(un1_n_1_carry_2),
	.dataa(n_1[2]),
	.datab(un1_dout_combout[2]),
	.datac(VCC),
	.datad(VCC),
	.cin(un1_n_1_carry_1)
);
defparam un1_n_1_add2_cZ.lut_mask=16'h96e8;
defparam un1_n_1_add2_cZ.sum_lutc_input="cin";
// @10:53
  cycloneive_lcell_comb un1_n_1_add3_cZ (
	.combout(un1_n_1_add3),
	.cout(un1_n_1_carry_3),
	.dataa(n_1[3]),
	.datab(un1_dout_combout[3]),
	.datac(VCC),
	.datad(VCC),
	.cin(un1_n_1_carry_2)
);
defparam un1_n_1_add3_cZ.lut_mask=16'h96e8;
defparam un1_n_1_add3_cZ.sum_lutc_input="cin";
// @10:53
  cycloneive_lcell_comb un1_n_1_add4_cZ (
	.combout(un1_n_1_add4),
	.cout(un1_n_1_carry_4),
	.dataa(n_1[4]),
	.datab(un1_dout_combout[4]),
	.datac(VCC),
	.datad(VCC),
	.cin(un1_n_1_carry_3)
);
defparam un1_n_1_add4_cZ.lut_mask=16'h96e8;
defparam un1_n_1_add4_cZ.sum_lutc_input="cin";
// @10:53
  cycloneive_lcell_comb un1_n_1_add5_cZ (
	.combout(un1_n_1_add5),
	.cout(un1_n_1_carry_5),
	.dataa(n_1[5]),
	.datab(un1_dout_combout[5]),
	.datac(VCC),
	.datad(VCC),
	.cin(un1_n_1_carry_4)
);
defparam un1_n_1_add5_cZ.lut_mask=16'h96e8;
defparam un1_n_1_add5_cZ.sum_lutc_input="cin";
// @10:53
  cycloneive_lcell_comb un1_n_1_add6_cZ (
	.combout(un1_n_1_add6),
	.cout(un1_n_1_carry_6),
	.dataa(n_1[6]),
	.datab(un1_dout_combout[6]),
	.datac(VCC),
	.datad(VCC),
	.cin(un1_n_1_carry_5)
);
defparam un1_n_1_add6_cZ.lut_mask=16'h96e8;
defparam un1_n_1_add6_cZ.sum_lutc_input="cin";
// @10:53
  cycloneive_lcell_comb un1_n_1_add7_cZ (
	.combout(un1_n_1_add7),
	.cout(un1_n_1_carry_7),
	.dataa(n_1[7]),
	.datab(un1_dout_combout[7]),
	.datac(VCC),
	.datad(VCC),
	.cin(un1_n_1_carry_6)
);
defparam un1_n_1_add7_cZ.lut_mask=16'h96e8;
defparam un1_n_1_add7_cZ.sum_lutc_input="cin";
// @10:53
  cycloneive_lcell_comb un1_n_1_add8_cZ (
	.combout(un1_n_1_add8),
	.cout(un1_n_1_carry_8),
	.dataa(n_1[8]),
	.datab(un1_dout_combout[8]),
	.datac(VCC),
	.datad(VCC),
	.cin(un1_n_1_carry_7)
);
defparam un1_n_1_add8_cZ.lut_mask=16'h96e8;
defparam un1_n_1_add8_cZ.sum_lutc_input="cin";
// @10:53
  cycloneive_lcell_comb un1_n_1_add9_cZ (
	.combout(un1_n_1_add9),
	.cout(un1_n_1_carry_9),
	.dataa(n_1[9]),
	.datab(un1_dout_combout[9]),
	.datac(VCC),
	.datad(VCC),
	.cin(un1_n_1_carry_8)
);
defparam un1_n_1_add9_cZ.lut_mask=16'h96e8;
defparam un1_n_1_add9_cZ.sum_lutc_input="cin";
// @10:53
  cycloneive_lcell_comb un1_n_1_add10_cZ (
	.combout(un1_n_1_add10),
	.cout(un1_n_1_carry_10),
	.dataa(n_1[10]),
	.datab(un1_dout_combout[10]),
	.datac(VCC),
	.datad(VCC),
	.cin(un1_n_1_carry_9)
);
defparam un1_n_1_add10_cZ.lut_mask=16'h96e8;
defparam un1_n_1_add10_cZ.sum_lutc_input="cin";
// @10:53
  cycloneive_lcell_comb un1_n_1_add11_cZ (
	.combout(un1_n_1_add11),
	.cout(un1_n_1_carry_11),
	.dataa(n_1[11]),
	.datab(un1_dout_combout[11]),
	.datac(VCC),
	.datad(VCC),
	.cin(un1_n_1_carry_10)
);
defparam un1_n_1_add11_cZ.lut_mask=16'h96e8;
defparam un1_n_1_add11_cZ.sum_lutc_input="cin";
// @10:53
  cycloneive_lcell_comb un1_n_1_add12_cZ (
	.combout(un1_n_1_add12),
	.cout(un1_n_1_carry_12),
	.dataa(n_1[12]),
	.datab(un1_dout_combout[12]),
	.datac(VCC),
	.datad(VCC),
	.cin(un1_n_1_carry_11)
);
defparam un1_n_1_add12_cZ.lut_mask=16'h96e8;
defparam un1_n_1_add12_cZ.sum_lutc_input="cin";
// @10:53
  cycloneive_lcell_comb un1_n_1_add13_cZ (
	.combout(un1_n_1_add13),
	.cout(un1_n_1_carry_13),
	.dataa(n_1[13]),
	.datab(un1_dout_combout[13]),
	.datac(VCC),
	.datad(VCC),
	.cin(un1_n_1_carry_12)
);
defparam un1_n_1_add13_cZ.lut_mask=16'h96e8;
defparam un1_n_1_add13_cZ.sum_lutc_input="cin";
// @10:53
  cycloneive_lcell_comb un1_n_1_add14_cZ (
	.combout(un1_n_1_add14),
	.cout(un1_n_1_carry_14),
	.dataa(n_1[14]),
	.datab(un1_dout_combout[14]),
	.datac(VCC),
	.datad(VCC),
	.cin(un1_n_1_carry_13)
);
defparam un1_n_1_add14_cZ.lut_mask=16'h96e8;
defparam un1_n_1_add14_cZ.sum_lutc_input="cin";
// @10:53
  cycloneive_lcell_comb un1_n_1_add15_cZ (
	.combout(un1_n_1_add15),
	.cout(),
	.dataa(n_1[15]),
	.datab(un1_dout_combout[15]),
	.datac(VCC),
	.datad(VCC),
	.cin(un1_n_1_carry_14)
);
defparam un1_n_1_add15_cZ.lut_mask=16'h9696;
defparam un1_n_1_add15_cZ.sum_lutc_input="cin";
// @10:53
  cycloneive_lcell_comb un1_dout_1_ (
	.combout(un1_dout_combout[1]),
	.cout(),
	.dataa(doutz[1]),
	.datab(n_2[1]),
	.datac(dout_c10_NE),
	.datad(VCC),
	.cin(GND)
);
defparam un1_dout_1_.lut_mask=16'hacac;
defparam un1_dout_1_.sum_lutc_input="datac";
// @10:53
  cycloneive_lcell_comb un1_dout_2_ (
	.combout(un1_dout_combout[2]),
	.cout(),
	.dataa(doutz[2]),
	.datab(n_2[2]),
	.datac(dout_c10_NE),
	.datad(VCC),
	.cin(GND)
);
defparam un1_dout_2_.lut_mask=16'hacac;
defparam un1_dout_2_.sum_lutc_input="datac";
// @10:53
  cycloneive_lcell_comb un1_dout_3_ (
	.combout(un1_dout_combout[3]),
	.cout(),
	.dataa(doutz[3]),
	.datab(n_2[3]),
	.datac(dout_c10_NE),
	.datad(VCC),
	.cin(GND)
);
defparam un1_dout_3_.lut_mask=16'hacac;
defparam un1_dout_3_.sum_lutc_input="datac";
// @10:53
  cycloneive_lcell_comb un1_dout_4_ (
	.combout(un1_dout_combout[4]),
	.cout(),
	.dataa(doutz[4]),
	.datab(n_2[4]),
	.datac(dout_c10_NE),
	.datad(VCC),
	.cin(GND)
);
defparam un1_dout_4_.lut_mask=16'hacac;
defparam un1_dout_4_.sum_lutc_input="datac";
// @10:53
  cycloneive_lcell_comb un1_dout_5_ (
	.combout(un1_dout_combout[5]),
	.cout(),
	.dataa(doutz[5]),
	.datab(n_2[5]),
	.datac(dout_c10_NE),
	.datad(VCC),
	.cin(GND)
);
defparam un1_dout_5_.lut_mask=16'hacac;
defparam un1_dout_5_.sum_lutc_input="datac";
// @10:53
  cycloneive_lcell_comb un1_dout_6_ (
	.combout(un1_dout_combout[6]),
	.cout(),
	.dataa(doutz[6]),
	.datab(n_2[6]),
	.datac(dout_c10_NE),
	.datad(VCC),
	.cin(GND)
);
defparam un1_dout_6_.lut_mask=16'hacac;
defparam un1_dout_6_.sum_lutc_input="datac";
// @10:53
  cycloneive_lcell_comb un1_dout_7_ (
	.combout(un1_dout_combout[7]),
	.cout(),
	.dataa(doutz[7]),
	.datab(n_2[7]),
	.datac(dout_c10_NE),
	.datad(VCC),
	.cin(GND)
);
defparam un1_dout_7_.lut_mask=16'hacac;
defparam un1_dout_7_.sum_lutc_input="datac";
// @10:53
  cycloneive_lcell_comb un1_dout_8_ (
	.combout(un1_dout_combout[8]),
	.cout(),
	.dataa(doutz[8]),
	.datab(n_2[8]),
	.datac(dout_c10_NE),
	.datad(VCC),
	.cin(GND)
);
defparam un1_dout_8_.lut_mask=16'hacac;
defparam un1_dout_8_.sum_lutc_input="datac";
// @10:53
  cycloneive_lcell_comb un1_dout_9_ (
	.combout(un1_dout_combout[9]),
	.cout(),
	.dataa(doutz[9]),
	.datab(n_2[9]),
	.datac(dout_c10_NE),
	.datad(VCC),
	.cin(GND)
);
defparam un1_dout_9_.lut_mask=16'hacac;
defparam un1_dout_9_.sum_lutc_input="datac";
// @10:53
  cycloneive_lcell_comb un1_dout_10_ (
	.combout(un1_dout_combout[10]),
	.cout(),
	.dataa(doutz[10]),
	.datab(n_2[10]),
	.datac(dout_c10_NE),
	.datad(VCC),
	.cin(GND)
);
defparam un1_dout_10_.lut_mask=16'hacac;
defparam un1_dout_10_.sum_lutc_input="datac";
// @10:53
  cycloneive_lcell_comb un1_dout_11_ (
	.combout(un1_dout_combout[11]),
	.cout(),
	.dataa(doutz[11]),
	.datab(n_2[11]),
	.datac(dout_c10_NE),
	.datad(VCC),
	.cin(GND)
);
defparam un1_dout_11_.lut_mask=16'hacac;
defparam un1_dout_11_.sum_lutc_input="datac";
// @10:53
  cycloneive_lcell_comb un1_dout_12_ (
	.combout(un1_dout_combout[12]),
	.cout(),
	.dataa(doutz[12]),
	.datab(n_2[12]),
	.datac(dout_c10_NE),
	.datad(VCC),
	.cin(GND)
);
defparam un1_dout_12_.lut_mask=16'hacac;
defparam un1_dout_12_.sum_lutc_input="datac";
// @10:53
  cycloneive_lcell_comb un1_dout_13_ (
	.combout(un1_dout_combout[13]),
	.cout(),
	.dataa(doutz[13]),
	.datab(n_2[13]),
	.datac(dout_c10_NE),
	.datad(VCC),
	.cin(GND)
);
defparam un1_dout_13_.lut_mask=16'hacac;
defparam un1_dout_13_.sum_lutc_input="datac";
// @10:53
  cycloneive_lcell_comb un1_dout_14_ (
	.combout(un1_dout_combout[14]),
	.cout(),
	.dataa(doutz[14]),
	.datab(n_2[14]),
	.datac(dout_c10_NE),
	.datad(VCC),
	.cin(GND)
);
defparam un1_dout_14_.lut_mask=16'hacac;
defparam un1_dout_14_.sum_lutc_input="datac";
// @10:53
  cycloneive_lcell_comb un1_dout_15_ (
	.combout(un1_dout_combout[15]),
	.cout(),
	.dataa(doutz[15]),
	.datab(n_2[15]),
	.datac(dout_c10_NE),
	.datad(VCC),
	.cin(GND)
);
defparam un1_dout_15_.lut_mask=16'hacac;
defparam un1_dout_15_.sum_lutc_input="datac";
// @10:53
  cycloneive_lcell_comb un1_dout_i_m2_0_ (
	.combout(un1_dout_i_m2[0]),
	.cout(),
	.dataa(doutz[0]),
	.datab(n_2[0]),
	.datac(dout_c10_NE),
	.datad(VCC),
	.cin(GND)
);
defparam un1_dout_i_m2_0_.lut_mask=16'hacac;
defparam un1_dout_i_m2_0_.sum_lutc_input="datac";
  cycloneive_lcell_comb state_RNIJV9Q_1_ (
	.combout(count_c_0_1__g1),
	.cout(),
	.dataa(state[1]),
	.datab(state[0]),
	.datac(VCC),
	.datad(VCC),
	.cin(GND)
);
defparam state_RNIJV9Q_1_.lut_mask=16'heeee;
defparam state_RNIJV9Q_1_.sum_lutc_input="datac";
  cycloneive_lcell_comb dout_RNO_0_ (
	.combout(dout_c_0_0__g0),
	.cout(),
	.dataa(state[0]),
	.datab(un1_n_1_add0),
	.datac(VCC),
	.datad(VCC),
	.cin(GND)
);
defparam dout_RNO_0_.lut_mask=16'hdddd;
defparam dout_RNO_0_.sum_lutc_input="datac";
  cycloneive_lcell_comb n_1_RNO_0_ (
	.combout(n_1_0_0__g2_0_321_i_a2),
	.cout(),
	.dataa(state[0]),
	.datab(doutz[0]),
	.datac(VCC),
	.datad(VCC),
	.cin(GND)
);
defparam n_1_RNO_0_.lut_mask=16'hdddd;
defparam n_1_RNO_0_.sum_lutc_input="datac";
  cycloneive_lcell_comb dout_c10_a_4_add6_RNI13L3 (
	.combout(dout_c10_NE_3),
	.cout(),
	.dataa(dout_c10_a_4_add6),
	.datab(dout_c10_a_4_add7),
	.datac(VCC),
	.datad(VCC),
	.cin(GND)
);
defparam dout_c10_a_4_add6_RNI13L3.lut_mask=16'heeee;
defparam dout_c10_a_4_add6_RNI13L3.sum_lutc_input="datac";
  cycloneive_lcell_comb dout_c10_a_4_add8_RNI53L3 (
	.combout(dout_c10_NE_5),
	.cout(),
	.dataa(dout_c10_a_4_add8),
	.datab(dout_c10_a_4_add9),
	.datac(VCC),
	.datad(VCC),
	.cin(GND)
);
defparam dout_c10_a_4_add8_RNI53L3.lut_mask=16'heeee;
defparam dout_c10_a_4_add8_RNI53L3.sum_lutc_input="datac";
// @10:53
  cycloneive_lcell_comb un1_state_0_o2_0 (
	.combout(un1_state_0_o2_0_i),
	.cout(),
	.dataa(state[0]),
	.datab(state[1]),
	.datac(dout_c10_NE),
	.datad(VCC),
	.cin(GND)
);
defparam un1_state_0_o2_0.lut_mask=16'h3131;
defparam un1_state_0_o2_0.sum_lutc_input="datac";
  cycloneive_lcell_comb count_RNO_0_ (
	.combout(count_c_0_0__g0),
	.cout(),
	.dataa(state[0]),
	.datab(state[1]),
	.datac(un1_count_combout[0]),
	.datad(VCC),
	.cin(GND)
);
defparam count_RNO_0_.lut_mask=16'hf1f1;
defparam count_RNO_0_.sum_lutc_input="datac";
// @10:22
  cycloneive_lcell_comb state_ns_i_a2_0_a3_15_8_0_ (
	.combout(state_ns_i_a2_0_a3_15_8[0]),
	.cout(),
	.dataa(din_c[10]),
	.datab(din_c[13]),
	.datac(din_c[8]),
	.datad(din_c[11]),
	.cin(GND)
);
defparam state_ns_i_a2_0_a3_15_8_0_.lut_mask=16'h0001;
defparam state_ns_i_a2_0_a3_15_8_0_.sum_lutc_input="datac";
// @10:22
  cycloneive_lcell_comb state_ns_i_a2_0_a3_15_9_0_ (
	.combout(state_ns_i_a2_0_a3_15_9[0]),
	.cout(),
	.dataa(din_c[0]),
	.datab(din_c[14]),
	.datac(din_c[12]),
	.datad(din_c[15]),
	.cin(GND)
);
defparam state_ns_i_a2_0_a3_15_9_0_.lut_mask=16'h0002;
defparam state_ns_i_a2_0_a3_15_9_0_.sum_lutc_input="datac";
// @10:22
  cycloneive_lcell_comb state_ns_i_a2_0_a3_15_10_0_ (
	.combout(state_ns_i_a2_0_a3_15_10[0]),
	.cout(),
	.dataa(din_c[2]),
	.datab(din_c[5]),
	.datac(din_c[1]),
	.datad(din_c[3]),
	.cin(GND)
);
defparam state_ns_i_a2_0_a3_15_10_0_.lut_mask=16'h0001;
defparam state_ns_i_a2_0_a3_15_10_0_.sum_lutc_input="datac";
// @10:22
  cycloneive_lcell_comb state_ns_i_a2_0_a3_15_11_0_ (
	.combout(state_ns_i_a2_0_a3_15_11[0]),
	.cout(),
	.dataa(din_c[6]),
	.datab(din_c[9]),
	.datac(din_c[4]),
	.datad(din_c[7]),
	.cin(GND)
);
defparam state_ns_i_a2_0_a3_15_11_0_.lut_mask=16'h0001;
defparam state_ns_i_a2_0_a3_15_11_0_.sum_lutc_input="datac";
  cycloneive_lcell_comb dout_c10_a_4_add4_RNIP01G (
	.combout(dout_c10_NE_7),
	.cout(),
	.dataa(dout_c10_a_4_add4),
	.datab(dout_c10_a_4_add5),
	.datac(dout_c10_a_4_add11),
	.datad(VCC),
	.cin(GND)
);
defparam dout_c10_a_4_add4_RNIP01G.lut_mask=16'hfefe;
defparam dout_c10_a_4_add4_RNIP01G.sum_lutc_input="datac";
  cycloneive_lcell_comb dout_c10_a_4_add0_RNID88C (
	.combout(dout_c10_NE_9),
	.cout(),
	.dataa(dout_c10_a_4_add0),
	.datab(dout_c10_a_4_add1),
	.datac(dout_c10_a_4[16]),
	.datad(dout_c10_NE_3),
	.cin(GND)
);
defparam dout_c10_a_4_add0_RNID88C.lut_mask=16'hffef;
defparam dout_c10_a_4_add0_RNID88C.sum_lutc_input="datac";
  cycloneive_lcell_comb dout_c10_a_4_add2_RNIP3MJ (
	.combout(dout_c10_NE_11),
	.cout(),
	.dataa(dout_c10_a_4_add2),
	.datab(dout_c10_a_4_add3),
	.datac(dout_c10_a_4_add10),
	.datad(dout_c10_NE_5),
	.cin(GND)
);
defparam dout_c10_a_4_add2_RNIP3MJ.lut_mask=16'hfffe;
defparam dout_c10_a_4_add2_RNIP3MJ.sum_lutc_input="datac";
// @10:22
  cycloneive_lcell_comb state_ns_i_a2_0_a3_15_0_ (
	.combout(state_ns_i_a2_0_a3_15[0]),
	.cout(),
	.dataa(state_ns_i_a2_0_a3_15_10[0]),
	.datab(state_ns_i_a2_0_a3_15_11[0]),
	.datac(state_ns_i_a2_0_a3_15_8[0]),
	.datad(state_ns_i_a2_0_a3_15_9[0]),
	.cin(GND)
);
defparam state_ns_i_a2_0_a3_15_0_.lut_mask=16'h8000;
defparam state_ns_i_a2_0_a3_15_0_.sum_lutc_input="datac";
  cycloneive_lcell_comb dout_c10_a_4_add12_RNIQNFH1 (
	.combout(dout_c10_NE_a),
	.cout(),
	.dataa(dout_c10_a_4_add12),
	.datab(dout_c10_a_4_add13),
	.datac(dout_c10_a_4_add14),
	.datad(dout_c10_a_4_add15),
	.cin(GND)
);
defparam dout_c10_a_4_add12_RNIQNFH1.lut_mask=16'h0001;
defparam dout_c10_a_4_add12_RNIQNFH1.sum_lutc_input="datac";
  cycloneive_lcell_comb dout_c10_a_4_add0_RNIP4F13 (
	.combout(dout_c10_NE),
	.cout(),
	.dataa(dout_c10_NE_7),
	.datab(dout_c10_NE_a),
	.datac(dout_c10_NE_9),
	.datad(dout_c10_NE_11),
	.cin(GND)
);
defparam dout_c10_a_4_add0_RNIP4F13.lut_mask=16'hfffb;
defparam dout_c10_a_4_add0_RNIP4F13.sum_lutc_input="datac";
  cycloneive_lcell_comb state_RNO_1_ (
	.combout(state_tr5_0_a3_0_g0),
	.cout(),
	.dataa(start_c),
	.datab(state_ns_i_a2_0_a3_15[0]),
	.datac(state[0]),
	.datad(state[1]),
	.cin(GND)
);
defparam state_RNO_1_.lut_mask=16'h0008;
defparam state_RNO_1_.sum_lutc_input="datac";
  cycloneive_lcell_comb state_RNO_0_ (
	.combout(N_145_i_0_g0),
	.cout(),
	.dataa(state_ns_i_a2_0_a3_15[0]),
	.datab(state[0]),
	.datac(state[1]),
	.datad(state_ns_i_a2_0_m2_x[0]),
	.cin(GND)
);
defparam state_RNO_0_.lut_mask=16'h0d00;
defparam state_RNO_0_.sum_lutc_input="datac";
// @10:22
  cycloneive_lcell_comb state_ns_i_a2_0_m2_x_0_ (
	.combout(state_ns_i_a2_0_m2_x[0]),
	.cout(),
	.dataa(start_c),
	.datab(state[0]),
	.datac(dout_c10_NE),
	.datad(VCC),
	.cin(GND)
);
defparam state_ns_i_a2_0_m2_x_0_.lut_mask=16'he2e2;
defparam state_ns_i_a2_0_m2_x_0_.sum_lutc_input="datac";
// @10:53
  cycloneive_lcell_comb done_RNO (
	.combout(retun1_state_0_o2_0),
	.cout(),
	.dataa(state[0]),
	.datab(state[1]),
	.datac(dout_c10_NE),
	.datad(VCC),
	.cin(GND)
);
defparam done_RNO.lut_mask=16'hcece;
defparam done_RNO.sum_lutc_input="datac";
// @10:53
  cycloneive_lcell_comb un1_state_0_o2_0_rep1_cZ (
	.combout(un1_state_0_o2_0_rep1),
	.cout(),
	.dataa(state[0]),
	.datab(state[1]),
	.datac(dout_c10_NE),
	.datad(VCC),
	.cin(GND)
);
defparam un1_state_0_o2_0_rep1_cZ.lut_mask=16'hcece;
defparam un1_state_0_o2_0_rep1_cZ.sum_lutc_input="datac";
// @10:78
  cycloneive_lcell_comb dout_c10_a_4_add15_term (
	.combout(dout_c10_a_4[16]),
	.cout(),
	.dataa(VCC),
	.datab(VCC),
	.datac(VCC),
	.datad(VCC),
	.cin(dout_c10_a_4_add15_cout)
);
defparam dout_c10_a_4_add15_term.lut_mask=16'hf0f0;
defparam dout_c10_a_4_add15_term.sum_lutc_input="cin";
// @10:5
  cycloneive_io_ibuf start_in (
	.o(start_c),
	.i(start),
	.ibar()
);
// @10:4
  cycloneive_io_ibuf din_in_15_ (
	.o(din_c[15]),
	.i(din[15]),
	.ibar()
);
// @10:4
  cycloneive_io_ibuf din_in_14_ (
	.o(din_c[14]),
	.i(din[14]),
	.ibar()
);
// @10:4
  cycloneive_io_ibuf din_in_13_ (
	.o(din_c[13]),
	.i(din[13]),
	.ibar()
);
// @10:4
  cycloneive_io_ibuf din_in_12_ (
	.o(din_c[12]),
	.i(din[12]),
	.ibar()
);
// @10:4
  cycloneive_io_ibuf din_in_11_ (
	.o(din_c[11]),
	.i(din[11]),
	.ibar()
);
// @10:4
  cycloneive_io_ibuf din_in_10_ (
	.o(din_c[10]),
	.i(din[10]),
	.ibar()
);
// @10:4
  cycloneive_io_ibuf din_in_9_ (
	.o(din_c[9]),
	.i(din[9]),
	.ibar()
);
// @10:4
  cycloneive_io_ibuf din_in_8_ (
	.o(din_c[8]),
	.i(din[8]),
	.ibar()
);
// @10:4
  cycloneive_io_ibuf din_in_7_ (
	.o(din_c[7]),
	.i(din[7]),
	.ibar()
);
// @10:4
  cycloneive_io_ibuf din_in_6_ (
	.o(din_c[6]),
	.i(din[6]),
	.ibar()
);
// @10:4
  cycloneive_io_ibuf din_in_5_ (
	.o(din_c[5]),
	.i(din[5]),
	.ibar()
);
// @10:4
  cycloneive_io_ibuf din_in_4_ (
	.o(din_c[4]),
	.i(din[4]),
	.ibar()
);
// @10:4
  cycloneive_io_ibuf din_in_3_ (
	.o(din_c[3]),
	.i(din[3]),
	.ibar()
);
// @10:4
  cycloneive_io_ibuf din_in_2_ (
	.o(din_c[2]),
	.i(din[2]),
	.ibar()
);
// @10:4
  cycloneive_io_ibuf din_in_1_ (
	.o(din_c[1]),
	.i(din[1]),
	.ibar()
);
// @10:4
  cycloneive_io_ibuf din_in_0_ (
	.o(din_c[0]),
	.i(din[0]),
	.ibar()
);
// @10:3
  cycloneive_io_ibuf reset_in (
	.o(reset_c),
	.i(reset),
	.ibar()
);
// @10:2
  cycloneive_io_ibuf clk_in (
	.o(clk_c),
	.i(clk),
	.ibar()
);
// @10:7
  cycloneive_io_obuf done_out (
	.o(done),
	.obar(),
	.i(donez),
	.oe(VCC)
);
// @10:6
  cycloneive_io_obuf dout_out_15_ (
	.o(dout[15]),
	.obar(),
	.i(doutz[15]),
	.oe(VCC)
);
// @10:6
  cycloneive_io_obuf dout_out_14_ (
	.o(dout[14]),
	.obar(),
	.i(doutz[14]),
	.oe(VCC)
);
// @10:6
  cycloneive_io_obuf dout_out_13_ (
	.o(dout[13]),
	.obar(),
	.i(doutz[13]),
	.oe(VCC)
);
// @10:6
  cycloneive_io_obuf dout_out_12_ (
	.o(dout[12]),
	.obar(),
	.i(doutz[12]),
	.oe(VCC)
);
// @10:6
  cycloneive_io_obuf dout_out_11_ (
	.o(dout[11]),
	.obar(),
	.i(doutz[11]),
	.oe(VCC)
);
// @10:6
  cycloneive_io_obuf dout_out_10_ (
	.o(dout[10]),
	.obar(),
	.i(doutz[10]),
	.oe(VCC)
);
// @10:6
  cycloneive_io_obuf dout_out_9_ (
	.o(dout[9]),
	.obar(),
	.i(doutz[9]),
	.oe(VCC)
);
// @10:6
  cycloneive_io_obuf dout_out_8_ (
	.o(dout[8]),
	.obar(),
	.i(doutz[8]),
	.oe(VCC)
);
// @10:6
  cycloneive_io_obuf dout_out_7_ (
	.o(dout[7]),
	.obar(),
	.i(doutz[7]),
	.oe(VCC)
);
// @10:6
  cycloneive_io_obuf dout_out_6_ (
	.o(dout[6]),
	.obar(),
	.i(doutz[6]),
	.oe(VCC)
);
// @10:6
  cycloneive_io_obuf dout_out_5_ (
	.o(dout[5]),
	.obar(),
	.i(doutz[5]),
	.oe(VCC)
);
// @10:6
  cycloneive_io_obuf dout_out_4_ (
	.o(dout[4]),
	.obar(),
	.i(doutz[4]),
	.oe(VCC)
);
// @10:6
  cycloneive_io_obuf dout_out_3_ (
	.o(dout[3]),
	.obar(),
	.i(doutz[3]),
	.oe(VCC)
);
// @10:6
  cycloneive_io_obuf dout_out_2_ (
	.o(dout[2]),
	.obar(),
	.i(doutz[2]),
	.oe(VCC)
);
// @10:6
  cycloneive_io_obuf dout_out_1_ (
	.o(dout[1]),
	.obar(),
	.i(doutz[1]),
	.oe(VCC)
);
// @10:6
  cycloneive_io_obuf dout_out_0_ (
	.o(dout[0]),
	.obar(),
	.i(doutz[0]),
	.oe(VCC)
);
endmodule /* fibonacci */

